*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Cores iniciais */
    --red-color:#E3646E;
    --purple-color:#BB72E9;
    --blue-color:#3996DB;
    --green-color:#82BC4F;
    --yellow-color:#EABD5F;

        /* Cores de Base */
    --basegray100:#0D0E11;
    --basegray200:#16181D;
    --basegray300:#292C34;
    --basegray400:#878EA1;
    --basegray500:#C0C4CE;
    --basegray600:#E2E4E9;

    /* Fontes e estilos*/

    --font-familly-Asap:"Asap",sans-serif;
    --tittle-lg-Asap:bold 56px/120% var(--font-familly-Asap);
    --tittle-md-Asap:bold 24px/120% var(--font-familly-Asap);
    --tittle-sm-Asap:bold 16px/120% var(--font-familly-Asap);

    --font-familly-Inconsolata:"Inconsolata",sans-serif;
    --tittle-regular-Inconsolata: 400 20px/120% var(--font-familly-Inconsolata) ;

    --font-familly-Maven:"Maven" , sans-serif;
    --text-md-Maven: 500 1rem/140% var(--font-familly-Maven);
    --text-sm-Maven: 400 14px/140% var(--font-familly-Maven);
    
    

}
body{
    font:var(--tittle-sm-Asap);
    color: var(--basegray600);
    width:100vw;
}
  /* Classes de utilidades*/
  .containerStandart{
    width: 100vw;
  }
  .imgIntro{
    width: 100%;
    height: 45rem;
    position: absolute;
    z-index: -1;
  }
    /* Classes de Cores e Fontes*/
  .whiteSubtittle{
    color:var(--basegray500);
    font: var(--tittle-regular-Inconsolata);
  }
  .redSubtittle{
    color:var(--red-color);
    font: var(--tittle-regular-Inconsolata);
  }
  .purppleSubtittle{
    color:var(--purple-color);
    font: var(--tittle-regular-Inconsolata);
  }
  .tittleH1{
    font:var(--tittle-lg-Asap);
  }
  .subtittleMdAsap{
    font:var(--tittle-md-Asap);
    color:var(--basegray600);

  }

  .textIntro{
    color: var(--basegray400);
    font: var(--text-sm-Maven);
  }
  .textIntro500{
    color: var(--basegray500);
    font: var(--text-sm-Maven);
  }
  /* Classes de Alinhamento*/
  .alignLines{
    /* alinhamento de linhas */
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .alignColums{
    /* alinhamento na colunas*/
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3,20%);
    row-gap: 4rem;
   

  }